*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3em;
    
}
form input{
    font-size: 25px;
}